#hometitle {
color:white;
text-align:center;
text-decoration-line:underline;
text-shadow:3px 3px black;
font-size:5vw;
}

#hometext {
font-size: 2vw;
padding: 5vw;
}

#hometitle:hover {
color:black;
text-shadow:3px 3px white;
}

h2 {
text-align:center;
text-decoration-line:underline;
font-size:3vw;
}

body {
background-color:rgb(153,170,255);
}

.page {
border:5px solid black;
}

.image {
text-align: center;
}

.navbutton {
font-size: 2vw;
padding:0px 2vw;
background:white;
transition-duration: 0.4s;
text-align:center;
}

.navbutton:hover {
background:lightgrey;
font-size:2.1vw;
}

#contacttext {
font-size:2vw;
padding:5vw;
}